<div class="footer-buttons">
    <!-- <div id="wbc-show-footer-button" (click)="uiService.showFooter = !uiService.showFooter"> {{ 'Show Footer' | translate }}</div> -->
    <div id="wbc-show-impressum-button" (click)="uiService.showImpressum = !uiService.showImpressum"> {{ 'Impressum' | translate }}</div>
</div>

<div class="wbc-impressum" *ngIf="uiService.showImpressum" [@slideInAnimation]>Legal blablabla Legal blablabla Legal blablablaLegal blablablaLegal blablablaLegal blablabla
    <span class="wbc-close-button" (click)="uiService.showImpressum = false">x</span>
</div>

<!-- <div class="wbc-footer" *ngIf="uiService.showFooter" [@slideInAnimation]>LOGO LOGO LOGO   THANK YOU EVERYONE
    <span class="wbc-close-button" (click)="uiService.showFooter = false">x</span>
</div> -->
