$primaryColor: #FE487C;
$darkPrimaryColor: #0D47A1;

$primaryRed: #FF0D17;
$darkRed: #BF0A11;





// Colors:
$steelblue: #0192BF;
$quietsch: #BFFF00;
$grey-black: #333333; 
$darker-grey-black: #262626;

// #1f1f1f - dark black / adobe colors header

// NEON SUNSET - https://color.adobe.com/Neon-Sunset-color-theme-8511612/?showPublished=true

// FE487C
// D13380
// 88145E
// 44113F