@import '../../styles/variables.scss';


:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;

    span {
        color: $primaryBlue;
    }
}

.wbc-turned-link-container {
    position: absolute;
    left: 15%;
}

.wbc-turned-link-rotator {
    transform: rotate(90deg);
    transform-origin: left center;
}

.wbc-turned-link {
    color: black;
    letter-spacing: 8px;
    font: 18px nowMedium;
    white-space: nowrap;
    text-decoration: none;
    &:hover {
        color: $primaryRed;
    }
}

.smily {
    background-image: url("/../assets/img/smily_buy.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotateZ(-90deg);
    width: 40px;
    height: 40px;
    bottom: 3em;
    left: 2em;
    position: absolute;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    will-change: transform, opacity;
}

.wbc-turned-link:hover ~.smily{
    transition: transform 0.3s ease-in-out;
    opacity: 1;
    transform: rotateZ(-90deg) rotateY(180deg) translateY(-15px);
}