<div class="wbc-turned-link-container">
    <div class="wbc-turned-link-rotator">
        <a class="wbc-turned-link" routerLink="/intro" routerLinkActive="active"> < {{ "up" | translate }}</a>
        <div class="smily"></div>
    </div>
</div>

<div class="headline2">
    <span>{{"page-start-headline-1st" | translate}}</span>
</div>

<div class="sub-headline2">
        <span>{{"page-start-headline-2nd" | translate}}</span>
    </div>


<!-- <div class="headline">
    <span>{{"page-start-headline-1st" | translate}}</span>
</div>

<div class="sub-headline">
    <span>{{"page-start-headline-2nd" | translate}}</span>
</div>
 -->
<div>
    <div class="wbc-image-title-container">
        <img src="assets/img/chair.png">
            <p>{{"main" | translate}}</p>
        <img src="assets/img/chair.png">
            <p>{{"about" | translate}}</p>
<!--        <img src="assets/img/chair.png">
            <p>{{"tech" | translate}}</p>
        <img src="assets/img/chair.png">
            <p>{{"friends" | translate}}</p> -->
    </div>
</div>

<span class="wbc-back down" routerLink="/balloorama"></span>

<p>{{"HELLO" | translate}}